@{
    ViewBag.Title = "Home Page of Admin Area";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @ViewBag.AdminFullName!</h1>
    <img src="~/img/start4.jpg" class="img-fluid mt-5" alt="Pet Care image">
</div>
