@model IEnumerable<PetListingViewModel>

@{
    ViewBag.Title = "My Pets";
    ViewBag.AllowPetEdit = true;
}

@if (!Model.Any())
{
    <h2 class="text-center">You have not entered any pets yet!</h2>
}

<partial name="_PetsPartial" model="@Model" />