@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h2 class="display-4">We Care Your Pets</h2>
    <img src="~/img/start.jpg" class="img-fluid" alt="Pet Care image">
</div>
