@{
    ViewBag.Title = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Doctor @ViewBag.DoctorFullName!</h1>
    <img src="~/img/start4.jpg" class="img-fluid mt-3" alt="Pet Care image">
    <div class="align-content-end mt-3">
        <a asp-controller="Appointments" asp-action="Mine" class="btn btn-outline-primary" style="margin-top: 20px">
            Check your work schedule
        </a>
    </div>
</div>